<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.xpandit.testng.annotations.XrayListener"></listener>
    </listeners>
    <test thread-count="5" name="Test2">
        <classes>
            <class name="Test.TestLoginFaild">
                <methods>
                    <include name="runLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test3">
        <classes>
            <class name="Test.TestMyAcc">
                <methods>
                    <include name="run"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test4">
        <classes>
            <class name="Test.TestPanier">
                <methods>
                    <include name="runLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test5">
        <classes>
            <class name="Test.TestShipping">
                <methods>
                    <include name="runShippingTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test1">
        <classes>
            <class name="Test.TestRegister">
                <methods>
                    <include name="runRegister"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>